body, table, tr, td, div, select {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
table {
  min-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
tr, th{
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
  vertical-align: top;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}

th {
  background-color: #f4f4f4;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
img {
  max-width: 300px;
  max-height: 300px;
}
.colorbox {
  width:50px;
  height:100%
}

p {
  margin: 0 0 5px 0;
}

h3 {
  font-size: 
}